<%= render "shared/header" %>
<div class="todo-countdown">
  カウントダウン表示
</div>
<table>
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/05</th>
      <th id="next">&raquo;</th>
    </tr>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>

<% d = Date.today%>

<div class="list-box">
  <div class="plan-list">
    <h1>予定一覧</h1>
    <ul class="plans">
      <% @events.each do |event| %>
        <% if event.category_id == 1 && d <= event.event_date %>
          <li class="a-plan">
            <div class="date-title-zone">
              <div class="date-zone">
                <%= event.event_date %>
              </div>
              <div class="title-zone">
                <%= event.title %>
              </div>
            </div>
            <div class="show-edit-delete-zone">
              <div class="show-zone">
                詳細
              </div>
              <div class="edit-zone">
                <%= link_to '変更', edit_event_path(event.id), method: :get %>
              </div>
              <div class="delete-zone">
                <%= link_to '削除', event_path(event.id), method: :delete %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="todo-list">
    <h1>todo一覧</h1>
    <ul class="todos">
      <% @events.each do |event| %>
        <% if event.category_id == 2 && d <= event.event_date %>
          <li class="a-todo">
            <div class="date-title-zone">
              <div class="date-zone">
                <%= event.event_date %>
              </div>
              <div class="title-zone">
                <%= event.title %>
              </div>
            </div>
            <div class="show-edit-delete-zone">
              <div class="show-zone">
                詳細
              </div>
              <div class="edit-zone">
                <%= link_to '変更', edit_event_path(event.id), method: :get %>
              </div>
              <div class="delete-zone">
                <%= link_to '削除', event_path(event.id), method: :delete %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
  </div>
</div>

<footer>
  フッター部分
</footer>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>イベント<br>作成</span>
  <a href="events/new">
    <%= image_tag 'pencil.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>

