<%= render "shared/header" %>
<div class="todo-countdown">
  カウントダウン表示
</div>
<table>
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/05</th>
      <th id="next">&raquo;</th>
    </tr>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>

<% d = Date.today%>

<div class="list-box">
  <div class="plan-list">
    <h1>予定一覧</h1>
    <ul class="plans">
      <% @events.each do |event| %>
        <% if event.category_id == 1 && d <= event.event_date %>
          <li class="a-plan">
            <div class="date-title-zone">
              <div class="date-zone">
                <%= event.event_date %>
              </div>
              <div class="title-zone">
                <%= event.title %>
              </div>
            </div>
            <div class="show-edit-delete-zone">
              <div class="show-zone">
                <label for="label#{event.id}">詳細</label>
                <input type="checkbox" id="label#{event.id}">
                <div class="show-hidden-zone-plan" style="z-index:2" >
                  <%= event.title %><br>
                  日付：<%= event.event_date %><br>
                  <% if event.event_time %>
                    <% t = "#{event.event_time}" %>
                    <% time = t.slice(11..15) %>
                    時間：<%= time %><BR>
                  <% else %>
                    時間：未設定<br>
                  <% end %>
                  <% unless event.detail == "" %>
                    内容：<%= event.detail %><br>
                  <% else %>
                    内容：未設定<br>
                  <% end %>
                  ※再度クリックすると閉じます
                </div>
              </div>
              <div class="edit-zone">
                <%= link_to '変更', edit_event_path(event.id), method: :get %>
              </div>
              <div class="delete-zone">
                <%= link_to '削除', event_path(event.id), method: :delete %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="todo-list">
    <h1>todo一覧</h1>
    <ul class="todos">
      <% @events.each do |event| %>
        <% if event.category_id == 2 && d <= event.event_date %>
          <li class="a-todo">
            <div class="date-title-zone">
              <div class="date-zone">
                <%= event.event_date %>
              </div>
              <div class="title-zone">
                <%= event.title %>
              </div>
            </div>
            <div class="show-edit-delete-zone">
              <div class="show-zone">
                <div class="show-hidden-zone-todo">
                  <%= event.title %><br>
                  日付：<%= event.event_date %><br>
                  <% if event.event_time %>
                    <% t = "#{event.event_time}" %>
                    <% time = t.slice(10..15) %>
                    時間：<%= time %><BR>
                  <% else %>
                    時間：設定されていません<br>
                  <% end %>
                  <% unless event.detail == "" %>
                    内容：<%= event.detail %><br>
                  <% else %>
                    内容：設定されていません<br>
                  <% end %>
                  ※再度クリックすると閉じます
                </div>
                詳細
              </div>
              <div class="edit-zone">
                <%= link_to '変更', edit_event_path(event.id), method: :get %>
              </div>
              <div class="delete-zone">
                <%= link_to '削除', event_path(event.id), method: :delete %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
  </div>
</div>

<footer>
  フッター部分
</footer>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>イベント<br>作成</span>
  <a href="events/new">
    <%= image_tag 'pencil.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>

