<h1>入力フォーム</h1>


<div class="Form">
  <%= form_with model: @event, local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>
  <div class="Form-Item">
      <span class="Form-Item-Label-Required">必須</span>
      イベント名
      <div class="form-content">
        <%= f.text_area :title, class:"events-text", id:"event-name", placeholder:"イベント名（20字以内）", maxlength:"20" %>
      </div>
  </div>
  <div class="Form-Item">
    <span class="Form-Item-Label-Any">任意</span>
      イベント内容
      <div class="form-content">
        <%= f.text_area :detail, class:"events-text", id:"event-info", placeholder:"内容（100字以内）" ,rows:"7" ,maxlength:"100" %>
      </div>
   </div>
  <div class="Form-Item">
    <span class="Form-Item-Label-Required">選択</span>
    予定 or Todo
    <label class="plan"><%= f.radio_button :category_id, 1, checked: true%>予定</label>
    <label class="todo"><%= f.radio_button :category_id, 2 %>Todo</label>
  </div>
  <div class="Form-Item">
    <span class="Form-Item-Label-Required">必須</span>
    日付
    <div class="form-content">
      <%= raw sprintf(
        f.date_field(
          :event_date,
                      value: Time.now.strftime("%Y-%m-%d"),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p>  </p>" %>
    </div>
  </div>
  <div class="Form-Item">
    <span class="Form-Item-Label-Any">任意</span>
    時間
    <div class="form-content">
      <%= f.time_field :event_time, class: 'form-control', include_blank: true%>
    </div>
  </div>
  <div>
    <%= f.submit "入力完了" ,class:"Form-Btn" %>
  </div>
  <% end %>
  

</div>
<div class="mini-calendar-box">
  <table class="mini-calendar">
    <thead>
      <tr>
        <th id="prev">&laquo;</th>
        <th id="title" colspan="5">2020/05</th>
        <th id="next">&raquo;</th>
      </tr>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td id="today" colspan="7">Today</td>
      </tr>
    </tfoot>
  </table>
</div>

<a href= "/" >
  <div class='purchase-btn'>
    <span class='purchase-btn-text'><br>戻る</span>
    <%= image_tag 'calendar.png' , size: '185x75' ,class: "purchase-btn-icon" %>
  </div>
</a>



